body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    min-height: 100vh;
}

.burger {
    background-image: url(../assets/a.jpg);
    background-position: center;
    background-size:cover;
}

header {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 2rem;
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

div.card {
    width: 40%;
    border-style: solid;
    padding: 1rem;
    background-color: white;
}

footer {
    background-color: blue;
    width: 100%;
    text-align: center;
}